
  .footer {
    line-height: 1.75rem;
    color: var(--lucky-point-400);
  }
  @media screen and (min-width: 768px) {
    .footer {
      margin-left: 290px;
    }
  }
  .secondFooter{
    height: auto;
    line-height: 1.75rem;
    color: var(--lucky-point-400);
  }
  